/* root color */
:root {
    --blue:#222ba5;
    --black:#000000;
    --white:#ffff;
}

/* custom css */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    transition: all linear .2s;
}

body {
    background: #f0f6ff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

/* button */
.button {
    height: 4.5rem;
    width: 22rem;
    background-color: var(--blue);
    color: var(--white);
    font-size: 1.7rem;
    text-transform: capitalize;
    border-radius: 30px;
    cursor: pointer;
    margin: 1rem 0;
    border: .1rem solid var(--blue);
    margin-top: 20px;
}

.button:hover {
    border:.1rem solid var(--blue);
    background: var(--white);
    color: var(--blue);
    letter-spacing: .1rem;

}



/* header navbar */
header {
    width: 96%;
    background: var(--white);
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
    background-color:  #f0f6ff;
}

header .navbar ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

/* header .navbar ul li {
    margin: 0 1rem;
} */

header .navbar ul li a {
    font-size: 1.8rem;
    color: var(--black);
}

header .navbar ul li a:hover {
    color: var(--blue);
}

/* NAVBAR BUTTONS */
.nav-buttons a {
    padding: 0.8rem 2rem;
    border-radius: 5rem;
    font-size: 1.7rem;
    margin-left: 1rem;
}

.btn-register {
    border: 2px solid var(--blue);
    color: var(--blue);
}

.btn-login {
     border: 2px solid var(--blue);
    background: var(--blue);
    color: var(--white);
}

.btn-register:hover {
    background: var(--blue);
    color: var(--white);
    letter-spacing: .1rem;
}

.btn-login:hover {
    opacity: 0.8;
    background: #ffffff;
    color:var(--blue);
    letter-spacing: .1rem;
}

header .fa-bars {
    font-size: 3rem;
    color: var(--blue);
    cursor: pointer;
    display: none;
}

header .fa-times {
    transform: rotate(180deg);
}

.header-active {
    top: 0;
    width: 100%;
    box-shadow: .1rem .3rem rgba(26, 62, 224, 0.3);
}



/* AUTH SECTION */
.auth-section{
    padding:120px 20px;
    display:flex;justify-content:center;
}

.auth-box{
    width:400px;background:white;padding:35px;
    border-radius:18px;
    box-shadow:0 8px 25px rgba(0,0,0,0.07);
    text-align:center;
}

.auth-box h2{
    font-size:28px;font-weight:700;margin-bottom:6px;
}

.subtitle{
    color:#6b6b6b;margin-bottom:25px;
    font-size: 16px;
}

.input-group{
    text-align:left;margin-bottom:18px;
}

.input-group label{
    display:block;margin-bottom:6px;font-weight:600; font-size: 14px;
}

.input-group input{
    width:100%;padding:12px;border:1px solid #ccc;
    border-radius:10px;font-size:13px;
}

.auth-btn{
    width:100%;padding:12px;background:var(--blue);color:white;
    border:none;border-radius:10px;font-size:16px;font-weight:600;
    cursor:pointer;margin-top:5px;
}

.auth-btn:hover {
     background: #fff;
    letter-spacing: .2rem;
    color: #0a1169;
    border-color: #0a1169;
    border-radius: 30px;
    border: solid 1px;
    transform: translateY(-3px);

}

.bottom-text{
    margin-top:15px;
    font-size: 14px;
}
.bottom-text a{
    color:var(--blue);text-decoration:none;font-weight:600;
}

.bottom-text a:hover {
     letter-spacing: .1rem;
}




/* footer */
.footer {
    background: #f3f6ff;
    padding: 60px 8%;
    margin-top: 60px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 40px;
}

.footer-logo {
    width: 150px;
    margin-bottom: 15px;
}

.footer-col h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--blue);
}

.footer-col p,
.footer-col ul li {
    color: #555;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 8px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li a {
    text-decoration: none;
    color: #444;
    transition: 0.3s ease;
}

.footer-col ul li a:hover {
    color: var(--blue);
}

.footer-col i {
    color: var(--blue);
    margin-right: 6px;
}

.footer-social a {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
    color: var(--blue);
    transition: 0.3s;
}

.footer-social a:hover {
    color: var(--blue);
}

.footer-bottom {
    text-align: center;
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid #dce3ff;
    color: #555;
    font-size: 14px;
}



/* test */
body{
    height:1000px;
}





@media (max-width:768px) {

    html {
        font-size: 55%;
    }

    header .fa-bars {
        display: block;
    }
    
    header .navbar {
        position: fixed;
        top: -100rem; left: 0;
        width: 100%;
        background: var(--white);
        opacity: 0;
        background-color:  #f0f6ff;
    }

    header .navbar ul {
        flex-flow: column;
        padding: 2rem 0;
    }

    header .navbar ul li {
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }

    header .navbar ul li a {
        font-size: 2.5rem;
        display: block;
    }

    header .nav-toggle {
        top: 5.5rem;
        opacity: 1;
    }

}
